body {
  background: #ccc;
}

ul {
  display: flex;
  background: black;
  border: 2px solid white;
  width: 300px;
  color: white;
  margin: 20px auto;
  justify-content: space-between;
}

li {
  display: flex;
  width: 50px;
  padding: 5px;
  border-left: 2px solid white;
}
