.container {
  margin: 30px auto;
  padding: 20px;
  width: 90%;
  background: #eee;
  display: flex;
}

.left {
  background: white;
  width: 200px;
  height: 100px;
  flex-shrink: 0;
  position: relative;
}

img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

span {
  // color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

.middle {
  margin: 0 30px;
  // height: 200px;
  background: white;
  border: 1px solid black;
  padding: 10px;
}

.right {
  width: 120px;
  flex-shrink: 0;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
